<?php require_once 'header.php' ?>
<?php require_once 'header-curiosity.php' ?>
    <dl>
    <dt><b>2/15/2010</b></dt>
    <dd>
    Changes are underway. The galleries of this page have not been updated in at least 2 (or 3? or 4?) years. It is a little embarrassing. In the next month, I plan to redo several sections with more representative and recent work (particularly photography and sculpture). Until then, please refer to <a href="http://www.etsy.com/shop/velvetseahorse">my etsy shop</a> for recent projects. 
    </dd>
    
    <dt><b>2/13/2010</b></dt>
    <dd>
    Selling at the Boca Fiesta art fair. 
    </dd>
    
    <dt><b>2/1/2010</b></dt>
    <dd>
    Jewelry has been featured on several blogs. <a href="http://www.westervin.com/blog/2010/01/21/the-shopping-sherpa-an-ode-to-geodes/">Here</a>, <a href="http://www.idreamedisaw.com/2010/01/04/sobbing-ladies/">here</a>, and <a href="http://foundhandmade.com/news/comment_itemize?newsidx=402">here</a>.
    </dd>
    
    <dt><b>12/12/2009</b></dt>
    <dd>
    Sold at the Harn Museum for their <a href="http://www.gainesville.com/article/20091108/ARTICLES/911089958?Title=Artists-display-their-work-at-Local-Artist-Trunk-Show">Local Artist Trunk Sale</a> and at the Gainesville Local Artist Mart (aka <a href="http://www.alligator.org/the_avenue/art/article_16215a6e-dfc2-11de-ba8a-001cc4c03286.html">GLAM</a>. Click the links to see articles about the events. 
    </dd>
    
    <dt><b>9/12/2009</b></dt>
    <dd>
    Now selling jewelry at LOOP de LOOP in Gainesville, Florida. All items are priced from $12 to $24! Support local business and check them out!
    </dd>
    
    <dt><b>8/30/2009</b></dt>
    <dd>
    Participated in Mamaw Menagerie on August 29 @ the Kickstand. Mamaw is a community art/music fair.
    </dd>
    
    <dt><b>2/19/2009</b></dt>
    <dd>
    Now selling at ETSY! <a href="http://www.etsy.com/shop.php?user_id=5022117">Have a look!</a>. You can click on the main SHOP link to browse items from Etsy.
    </dd>
    
    <dt><b>2/16/2009</b></dt>
    <dd>
    Now selling at the HARN MUSEUM STORE in Gainesville and at ETOILE BOUTIQUE in Orlando, Florida.
    </dd>
    
    <dt><b>10/11/2008</b></dt>
    <dd>
    Started selling jewelry at PERSONA! Persona is an eclectic boutique in downtown Gainesville.
    </dd>
    
    <dt><b>09/19/2008</b></dt>
    <dd>
    Now selling at WILD IRIS Bookstore. Wild Iris is a feminist bookstore in Gainesville, Florida. 
    </dd>
    
    <dt><b>09/07/2008</b></dt>
    <dd>
    "The Sea and the Mountains" (mixed media collage) will be on display at Store 101 for the month of September as part of their Blue Period exhibit. The show opened on August 29th. 
    </dd>
    
    <dt><b>09/10/2007</b></dt>
    <dd>
    Participated in Mamaw Menagerie at 2nd Street Bakery
    </dd>
    <dt><b>08/26/2006</b></dt>
    <dd>
    Artwork exhibited (photography and paintings) at "The Gallery" in the J. Waybe Reitz Union @ UF, as a part of the Arts and Crafts Center Staff Show. 
    </dd>
    
    <dt><b>06/15/2006</b></dt>
    <dd>
    I am trying to figure out pay-pal, until then, purchases can be made by contacting velvet.seahorse@gmail.com
    </dd>
    
    <dt><b>01/20/2006</b></dt>
    <dd>
    Photography exhibit opened tonight at "The Gallery" in the J. Wayne Reitz Union at the University of Florida. The show was on for the month of January.  The exhibit was written up in the local newspaper, the <i>Alligator</i>. The article is available on-line <a href="http://www.alligator.org/pt2/060119reflections.php">here</a>.
    </dd>
    
    <dt><b>01/1/2006</b></dt>
    <dd>
    Photograph ("the weight of time and experience) published in the yearly Wild Iris calendar.
    </dd>
    
    <dt><b>06/30/2004</b></dt>
    <dd>
    Photograph ("window") published in TEA literary magazine. 
    </dd>
    </dl>
<?php require_once 'footer-curiosity.php' ?>
<?php require_once 'footer.php' ?>
