<%= render :partial => "header_curiosity" %>
<div>
    <p><strong><em>Jewelry</em></strong></p>
    <p>
    I strive to create jewelry that is both whimsical and challenging.  Presently, my work is best discussed as three distinct “lines” including (1) <em>Sculptural Upcycling</em>, (2) <em>Menagerie</em>, and (3) <em>Plastic Victoriana</em>.  
    <em>Sculptural Upcycling</em> uses vintage and found objects to create large-scale metal necklaces and bracelets. Much like a bowerbird gathering colorful treasures, I scour garage sales, markets, and antique stores for orphaned jewelry to repurpose.  The resultant pieces are often botanical in nature, resembling industrialized bouquets of metal flowers and foliage.  In contrast, <em>Menagerie</em> is heavily influenced by feelings of nostalgia for toys and collectables.  In this series, small animals (both antique/ceramic and modern/plastic), are placed in carefully constructed metal harnesses and hung from vintage chains.  Finally, <em>Plastic Victoriana</em> utilizes shrink polymers and original Victorian prints to create intricate plastic pendants.  The juxtaposition of images from the late-1800s and modern jewelry construction aims to evoke a playful feeling of cognitive dissonance in viewers. 
    </p>

    <p><strong><em>Photography</em></strong></p>
    <p>
    My photographs examine issues of natural reclamation, specifically attending to the domestication of wild spaces and the subsequent (re)emergence of wilderness.  By capturing images of rural and urban decay, I encourage viewers to question the temporality of seemingly permanent structures.  Thus, engaging with structural fugacity obscures the boundaries of inside/outside and challenges viewers to gain comfort with domestically ambiguous spaces.  
    </p>

    <p><strong><em>Research</em></strong></p>
    <p>
    My program of research focuses broadly on (1) identity development and (2) life experiences of marginalized groups.  Within this work, a central theme is the investigation of discrimination experiences and the examination of how these events may shape mental health outcomes.  Additionally, I examine potential resilience factors (e.g., bicultural competency, cognitive flexibility) that may promote mental health within historically marginalized populations.  While the majority of my research has focused on issues of sexual orientation, I am also working on projects that address vocational issues of transgender persons, feminist identity stigma, men’s identity development, and experiences of sexism and racism for women of color. 
    </p>

</div>
<%= render :partial => "footer_curiosity" %>
